<div
    class="relative max-w-sm rounded-lg border border-gray-200 bg-white p-6 shadow-md"
>
    <button
        type="button"
        class="absolute right-2 top-2 inline-flex items-center rounded-full bg-red-600 p-2 text-white hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2"
        (click)="todoService.onDelete(todo()?._id)"
    >
        <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-4 w-4"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
        >
            <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M6 18L18 6M6 6l12 12"
            />
        </svg>
    </button>
    <div class="mb-4 flex items-center">
        <h1 class="text-xl font-bold text-gray-900">{{ todo()?.title }}</h1>
    </div>
    <p class="mb-2 text-sm text-gray-600">
        Due date: {{ todo()?.dueDate | date }}
    </p>
    <p
        class="mb-2 text-sm text-gray-600"
        [ngClass]="{ 'text-green-500': todo()?.completed }"
    >
        Completed: {{ todo()?.completed }}
    </p>
    <p
        class="mb-2 text-sm text-gray-600"
        [ngClass]="{ 'text-red-500': todo()?.expired }"
    >
        Expired: {{ todo()?.expired }}
    </p>
    <div class="mb-2 flex items-center">
        <img
            *ngIf="todo()?.createdBy?.picture"
            [src]="todo()?.createdBy?.picture"
            alt="Avatar"
            class="mr-2 h-8 w-8 rounded-full"
        />
        <p class="text-sm text-gray-600">
            Created by: {{ todo()?.createdBy?.fullName }}
        </p>
    </div>
    @if (todo()?.assignedTo) {
        <div class="flex items-center">
            <img
                *ngIf="todo()?.assignedTo?.picture"
                [src]="todo()?.assignedTo?.picture"
                alt="Avatar"
                class="mr-2 h-8 w-8 rounded-full"
            />
            <p class="text-sm text-gray-600">
                Assigned to: {{ todo()?.assignedTo?.fullName }}
            </p>
        </div>
    }
    <div class="mt-4 flex flex-col gap-2">
        @if (!todo()?.completed) {
            <button
                type="button"
                class="inline-flex items-center rounded-md border border-transparent bg-green-500 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-offset-2"
                (click)="todoService.onComplete(todo()?._id)"
            >
                Complete
            </button>
        } @else {
            <button
                type="button"
                class="inline-flex items-center rounded-md border border-transparent bg-gray-500 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-gray-600 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-offset-2"
                (click)="todoService.onUncomplete(todo()?._id)"
            >
                Uncomplete
            </button>
        }
        <button
            type="button"
            class="inline-flex items-center rounded-md border border-transparent bg-blue-500 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2"
            (click)="todoService.onReassign()"
        >
            Reassign
        </button>
        @if (todoService.isReassigning()) {
            <input
                type="text"
                class="mt-2 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50"
                placeholder="Enter new assignee"
                [formControl]="assigneeForm"
                (click)="userListService.openModal()"
            />
            <div class="mt-2 flex space-x-2">
                <button
                    type="button"
                    class="inline-flex items-center rounded-md border border-transparent bg-green-500 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-offset-2"
                    [disabled]="!assigneeForm.valid"
                    [style.cursor]="
                        !assigneeForm.valid ? 'not-allowed' : 'pointer'
                    "
                    (click)="
                        todoService.onSendReassign(
                            todo()?._id,
                            assigneeForm.value
                        )
                    "
                >
                    Reassign
                </button>
                <button
                    type="button"
                    class="inline-flex items-center rounded-md border border-transparent bg-red-500 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2"
                    (click)="todoService.onCancelReassign()"
                >
                    Cancel
                </button>
            </div>
        }
    </div>
</div>
