<app-user-info [user]="authService.user()"></app-user-info>
<div class="container mx-auto w-full max-w-screen-lg p-4">
    <app-todos-filter></app-todos-filter>
    @if (todosService.isEditing()) {
        <app-todo-form></app-todo-form>
    }

    @if (apiService.isLoading()) {
        <app-spinner></app-spinner>
    } @else if (todosService.filteredTodos().length) {
        <app-todos-list>
            @for (todo of todosService.filteredTodos(); track todo) {
                <app-todo [todo]="todo"></app-todo>
            }
        </app-todos-list>
    } @else {
        <div class="flex flex-col items-center justify-center">
            <p class="text-center text-gray-500">
                No todos, start by creating one!
            </p>
        </div>
    }
</div>
