<!-- TODO: why is this not working? -->
<title>{{ title }}</title>

<!-- modal for edit -->
<!-- options: load dynamically, always load and hide if not selectedTodo -->
<!-- or use router lint for todos/:id or todos/edit/:id -->
<router-outlet></router-outlet>

<!-- main view -->
<main
  class="content relative grid min-h-full min-w-full grid-cols-1 justify-start gap-10"
>
  <h1 class="grow text-center text-2xl font-bold">📝 Todos</h1>

  <div class="w-full flex-grow filter">
    <app-todo-filter></app-todo-filter>
  </div>

  <div class="content-grid grid grid-cols-3 gap-10">
    @for (todo of todoStore.todos(); track todo.id) {
      <app-todo-item
        [todo]="todo"
        (click)="onClickTodoItem(todo)"
      ></app-todo-item>
    }
  </div>
</main>
