<!-- TODO: why is this not working? -->
<title>{{ title }}</title>

<!-- modal for edit -->
<!-- options: load dynamically, always load and hide if not selectedTodo, use router link for todos/:id or todos/edit/:id -->
<!-- the best way would probably be always load and pass the todo to the modal from signal store (selectedTodo) so no url involved -->
<!-- for testing purposes, we will use the sub router -->
<router-outlet></router-outlet>

<!-- main view -->
<main
  class="relative flex min-h-full min-w-full flex-col items-center justify-start gap-1"
>
  <h1 class="w-full text-center align-middle text-2xl font-bold">📝 Todos</h1>

  <app-todo-filter
    class="w-full basis-full justify-self-stretch py-4 filter"
  ></app-todo-filter>

  <div
    class="content-grid grid w-full grid-cols-3 flex-nowrap gap-10 px-8 py-4"
  >
    <!-- 1: navigate to the todo page:id -->
    <!-- 2: trigger the selected event to store the current todo in the store -->
    @for (todo of todoStore.filteredTodos(); track todo.id) {
      <app-todo-item
        [todo]="todo"
        (click)="onClickTodoItem(todo)"
      ></app-todo-item>
    }
  </div>
</main>
