<section class="mb-4 flex w-full flex-row items-center justify-between gap-2">
    <div class="flex flex-row items-center justify-center gap-2">
        <label
            for="showCompleted"
            class="mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
        >
            Show completed
        </label>
        <input
            type="checkbox"
            class="h-4 w-4 rounded border-gray-300 bg-gray-100 text-blue-600 focus:ring-2 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:ring-offset-gray-800 dark:focus:ring-blue-600"
        />
    </div>
    <input
        type="text"
        class="w-full rounded-md border border-gray-300 bg-gray-100 p-2 text-sm text-gray-900 focus:border-indigo-500 focus:ring-indigo-500 dark:border-gray-600 dark:bg-gray-700 dark:text-gray-300 dark:placeholder-gray-400 dark:focus:border-indigo-500 dark:focus:ring-indigo-500"
        placeholder="Filter"
    />
    <button
        type="button"
        class="inline-flex items-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 dark:bg-indigo-600 dark:hover:bg-indigo-700 dark:focus:ring-indigo-500 dark:focus:ring-offset-indigo-900"
    >
        Create
    </button>
</section>
