.custom-grid {
  display: grid;
  height: auto;
  grid-template-areas:
    'left header'
    'left main';
  grid-template-columns: 1fr 3fr;
}

.left {
  display: flex;
  padding: 2rem;
  background-color: var(--primary-color);
  color: var(--text-color-light);
  grid-area: left;
}

.header-bar {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 1rem;
  background-color: var(--secondary-color-light);
  color: var(--text-color-dark);
  grid-area: header;
}

.main {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 2rem;
  background-color: var(--bg-color-light);
  color: var(--text-color-dark);
  grid-area: main;
}
