<title>{{ title }}</title>

<div class="flex min-h-screen flex-col">
  <app-header [user]="userStore.user()"></app-header>
  <div class="custom-grid flex-grow">
    <aside class="left bg-slate-800 py-7 text-slate-200">
      <app-sidebar [menuItems]="dashboardStore.menuItems()"></app-sidebar>
    </aside>
    <header class="header-bar bg-slate-500 text-slate-200">
      <app-top-bar></app-top-bar>
    </header>
    <main class="main container bg-slate-300">
      <!-- FIXME named nested route -->
      <!-- <router-outlet name="content"> </router-outlet> -->
      <router-outlet> </router-outlet>
      <!-- TODO: test named router-outlet -->
    </main>
  </div>
</div>
