.custom-grid {
  display: grid;
  grid-template: auto 1fr / minmax(0, 1fr) minmax(300px, 5fr);
  grid-template-areas:
    'left header'
    'left main';
}

.left {
  grid-area: left;
}

.header-bar {
  grid-area: header;
}

.main {
  grid-area: main;
}
